<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <import resource="spring-datasource.xml"/>

       <bean id="lifecyleBeanPostProcessor"
             class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

       <bean id="credentialsMatcher"
             class="org.apache.shiro.authc.credential.SimpleCredentialsMatcher"/>

       <bean id="cacheManager"
             class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

       <bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
              <property name="credentialsMatcher" ref="credentialsMatcher"/>
              <property name="permissionsLookupEnabled" value="true"/>
              <property name="dataSource" ref="dataSource"/>
              <property name="authenticationQuery"
                        value="SELECT password FROM user WHERE user_name=?"/>
              <property name="userRolesQuery"
                        value="SELECT role_name from user_role left join role using(role_id) left join user using(user_id) WHERE user_name = ?"/>
              <property name="permissionsQuery"
                 value="SELECT permission_name FROM role_permission left join role using(role_id) left join permission using(permission_id) WHERE role_name = ?"/>
       </bean>
       <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
              <property name="realm" ref="jdbcRealm"/>
              <property name="cacheManager" ref="cacheManager"/>
       </bean>
       <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
              <property name="securityManager" ref="securityManager"/>
              <property name="loginUrl" value="/login.htm"/>
              <property name="unauthorizedUrl" value="/403.htm"/>
              <property name="filterChainDefinitions">
                     <value>
                            /login*=anon
                            /dologin*=anon
                            /register.htm=anon
                            /doregister=anon
                            /logout*=anon
                            /css/**=anon
                            /js/**=anon
                            /user/**=anon
                            /**=authc

                     </value>
              </property>
       </bean>
       <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
       <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
              <property name="securityManager" ref="securityManager"/>
       </bean>

</beans>