<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

        <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
        <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
        <bean id="loginStatus" class="org.rikey.web.utils.LoginStatus"/>
        <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
                <property name="suffix" value=".vm"/>
                <property name="cache" value="false"/>
                <property name="contentType" value="text/html;charset=UTF-8"/>
                <property name="viewClass" value="org.springframework.web.servlet.view.velocity.VelocityView"/>
                <property name="attributesMap">
                        <map>
                                <entry key="loginStatus">
                                        <ref bean="loginStatus"/>
                                </entry>
                        </map>
                </property>
        </bean>

        <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
                <property name="resourceLoaderPath">
                        <value>/WEB-INF/vm/</value>
                </property>
                <property name="velocityProperties">
                        <props>
                                <prop key="input.encoding">UTF-8</prop>
                                <prop key="output.encoding">UTF-8</prop>
                        </props>
                </property>
        </bean>
        <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
        <bean id="jsonView" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
                <property name="messageConverters">
                        <list>
                                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                                        <property name="supportedMediaTypes">
                                                <list>
                                                        <value>text/html;charset=UTF-8</value>
                                                        <value>application/json;charset=UTF-8</value>
                                                </list>
                                        </property>
                                </bean>
                        </list>
                </property>
        </bean>
</beans>