<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rikey.web.dao.UserDao">

    <resultMap id="BaseResultMap" type="org.rikey.web.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addUser" parameterType="org.rikey.web.domain.User" useGeneratedKeys="true">
        INSERT INTO user(user_name, password) VALUES (#{userName, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
    </insert>

</mapper>