<html>
<head>
    <script type="text/javascript" src="/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/js/ueditor/ueditor.all.js"></script>
</head>
<body>
<button name="logout" value="logout" onclick="window.location.href='/logout.htm'"></button>
<div style="text-align: center; font-size: 32px;">#springMessage('view.title')</div>
<script id="container" name="content" type="text/plain">

</script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
</body>
</html>